/* 
CSS Guide
1. General Styles
2. Main Nav
3. Header
4. Hero Image
5. Tablet Queries
6. Desktop Queries
*/



/* 1. --General Styles-- */
.light-blue {
    background-color: #80BDDF;
}



/* 2. --Main Nav-- */
#main-nav {
    display: none;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
}

#burger-btn {
    cursor: pointer;
    align-self: center;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    text-align: center;
}

#main-nav ul li a {
    text-decoration: none;
    color: #2A4776;
    font-size: 25px;
    line-height: 55px;
    justify-self: center;
}



/* 3. --Header-- */
header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-head {
    justify-self: center;
}

#header-icons {
    justify-self: end;
    align-self: center;
}

#search {
    margin-right: 20px;
    width: 30px;
    cursor: pointer;
}

#cart {
    width: 30px;
    cursor: pointer;
}



/* 4. --Hero Image-- */
#hero-image {
    justify-self: center;
    grid-row: 1;
}

#nested-hero-grid {
    grid-column: 2/3;
    grid-row: 1;
}

#nested-hero-grid div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#nested-hero-grid h2 {
    color: #fff;
    font-family: "ohno-softie-variable",sans-serif;
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

#nested-hero-grid p {
    color: #fff;
    font-family: josefin-sans, sans-serif;
    font-size: 11px;
    text-align: right;
    margin-bottom: 10px;
    height: 20px;
    margin-right: 20px;
}

#button {
    align-self: end;    
    font-family: josefin-sans, sans-serif;
}

#button a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    background-color: #E27184;
    padding-bottom: 4px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s all ease-in;
}



/* 5. --Tablet Queries-- */
@media screen and (min-width:768px) {

    /* --Header-- */
    #logo-head {
        order: 1;
        align-self: center;
        justify-self: normal;
    }

    #logo-head img {
        width: 100%;
    }

    #burger-btn {
        display: none;
    }

    #header-icons {
        order: 3;
    }


    /* --Main nav-- */    
    #main-nav {
        display: block;
        order: 2;
    }

    #main-nav ul {
        display: flex;
        justify-content: space-between;
    }

    #main-nav ul li a {
        font-size: 22px;
    }
    #main-nav ul li a {
        font-size: 25px;
    }
    

    /* --Hero Image-- */
    #nested-hero-grid h2 {
        font-size: 40px;
    }

    #nested-hero-grid p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    #button a {
        padding-bottom: 5px;
        width: 270px;
        font-size: 20px;
    }
}



/* 6. --Desktop Queries-- */
@media screen and (min-width: 1200px) {
    
    /* --Main Nav-- */
    #main-nav ul li a {
        font-size: 25px;
    }    
    
    
    /* --Hero Image-- */
    #nested-hero-grid h2 {
        font-size: 50px;
    }

    #nested-hero-grid p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    #button a {
        padding-bottom: 10px;
        width: 369px;
        font-size: 30px;
    }

    #button a:hover {
    background-color: #2A4775;
    }
}